span{
    align-items: center;
    width: auto;
    flex-direction: column;
}
label{
    display: inline-flexbox;
        padding: 1rem 0 .25rem;
        margin-right: 0.6pc;
        /* text-transform: uppercase; */
        font-size: 14px;
      
}
.selected{
    border: 5pc;
    width: 90%;
    justify-content: center;
}
input{
    width: 90%;
}
@media screen and (max-width: 1200px) {
    .AddUser {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .AddUser {
        align-items: center;
    }
}